/* revision 8 */
* {
	margin: 0;
	background-color: #222222;
	/*font-size: 16px;*/
}
button {
	position: fixed;
	color: #dddddd;
	background-color: #333333;
	height: 50px;
	width: 50px;
	border-radius: 20%;
	/*font-weight: bold;*/
	bottom: 1px;
}
p {
	position: fixed;
	color: #dddddd;
	background: rgba(32, 32, 32, 0.5);
	height: 15px;
	width: 50px;
	bottom: 1px;
	font-family: monospace;
	padding: 2px;
}
#hudDateOrbit {
  top: 1px;
  left: 1px;
  width: 175px;
  height: 145px;
}
#hudGpsInfo {
  top: 1px;
  left: 200px;
  width: 90px;
  height: 65px;
}


#hudThrottle {
  left: 1px;
  bottom: 181px;
}
#hudStep {
  left: 61px;
  bottom: 181px;
}
#hudView {
  left: 121px;
  bottom: 181px;
}


#hudYaw {
	width:46px;
	height: 30px;
  right: 121px;
  bottom: 181px;
  text-align: center;
}
#hudPitch {
	width: 46px;
	height: 30px;
  right: 61px;
  bottom: 181px;
  text-align: center;
}
#hudRoll {
	width: 46px;
	height: 30px;
  right: 1px;
  bottom: 181px;
  text-align: center;
}

/* buttons */

#throttleUp {
  left: 1px;
  bottom: 121px;
}
#throttleDown {
  left: 1px;
  bottom: 61px;
}
#throttleOff {
  left: 1px;
  bottom: 1px;
}

#faster {
	left: 61px;
	bottom: 121px;
}
#slower {
	left: 61px;
	bottom: 61px;
}
#playPause {
	left: 61px;
}


#view {
	left: 121px;
	bottom: 121px;
}
#toggleRocketAxes {
	left: 121px;
	bottom: 61px;
}
#toggleFullscreen {
	left: 121px;
	bottom: 1px;
}


#toggleAllOrbits {
	left: 181px;
	bottom: 121px;
}
#toggleLocalOrbits {
	left: 181px;
	bottom: 61px;
}
#toggleSprites {
	left: 181px;
	bottom: 1px;
}





#up {
  right: 61px;
  bottom: 121px;
}
#down {
  right: 61px;
  bottom: 1px;
}
#left {
  right: 121px;
  bottom: 61px;
}
#right {
  right: 1px;
  bottom: 61px;
}
#rollLeft {
  right: 121px;
  bottom: 121px;
}
#rollRight {
  right: 1px;
  bottom: 121px;
}
#stopSpin {
	right: 61px;
	bottom: 61px;
}
