* {
	margin: 0;
	background-color: #222222;
	font-size: 10px;
	overscroll-behavior: contain;
}

a:link {
  color: cyan;
}
a:visited {
  color: violet;
}
a:hover {
  color: yellow;
}
a:active {
  color: green;
}



#menuWindow {
	display: none;

	position: fixed;
	width: 343px;
	height: 212px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

	color: #dddddd;
	background:rgba(0, 0, 0, .5);

	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	overflow-y: scroll;
}


div {
	background:rgba(0, 0, 0, 0);
}

h5 {
	padding: 2%;
	background:rgba(0, 0, 0, 0);
}


input {
	width: 30px;
	height: 30px;
	padding: 2%;
	background:rgba(0, 0, 0, 0);
	vertical-align: middle;
	accent-color: gray;
}

/*
[type="checkbox"] {
}
*/


#readme {
	text-align: left;
	padding: 2%;
	background: rgba(0, 0, 0, 0);
}


.hud {
	position: fixed;
	color: #dddddd;
	background:rgba(0, 0, 0, .5);
	height: 15px;
	width: 50px;
	bottom: 1px;
	font-family: monospace;
	padding: 2px;
}


#hudDateOrbit {
  top: 1px;
  left: 1px;
  width: 160px;
  height: 130px;
}
#hudGpsInfo {
  top: 1px;
  left: 200px;
  width: 85px;
  height: 60px;
}


#hudThrottle {
  left: 1px;
  bottom: 181px;
}
#hudStep {
  left: 61px;
  bottom: 181px;
}
#hudView {
  left: 121px;
  bottom: 181px;
}


#hudYaw {
	width:46px;
	height: 30px;
  right: 121px;
  bottom: 181px;
  text-align: center;
}
#hudPitch {
	width: 46px;
	height: 30px;
  right: 61px;
  bottom: 181px;
  text-align: center;
}
#hudRoll {
	width: 46px;
	height: 30px;
  right: 1px;
  bottom: 181px;
  text-align: center;
}



button {
	position: fixed;
	color: #dddddd;
	background-color: #333333;
	height: 50px;
	width: 50px;
	border-radius: 20%;
	/*font-weight: bold;*/
	bottom: 1px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



#throttleUp {
  left: 1px;
  bottom: 121px;
}
#throttleDown {
  left: 1px;
  bottom: 61px;
}
#throttleOff {
  left: 1px;
  bottom: 1px;
}

#faster {
	left: 61px;
	bottom: 121px;
}
#slower {
	left: 61px;
	bottom: 61px;
}
#playPause {
	left: 61px;
}


#view {
	left: 121px;
	bottom: 121px;
}
#menuButton {
	left: 121px;
	bottom: 61px;
}
#toggleFullscreen {
	left: 121px;
	bottom: 1px;
}




#up {
  right: 61px;
  bottom: 121px;
}
#down {
  right: 61px;
  bottom: 1px;
}
#left {
  right: 121px;
  bottom: 61px;
}
#right {
  right: 1px;
  bottom: 61px;
}
#rollLeft {
  right: 121px;
  bottom: 121px;
}
#rollRight {
  right: 1px;
  bottom: 121px;
}
#stopSpin {
	right: 61px;
	bottom: 61px;
}
