
body {
	margin: 0;
	overscroll-behavior: contain;

	background-color: #222;
	font-size: 10px;
}

#version {
	position: fixed;
	margin: 0;
	top: 1px;
	right: 1px;
	color: #999;
}



.hud {
	position: fixed;
	margin: 0;
	padding: 2px;
	bottom: 175px;
	height: 24px;
	width: 42px;

	text-align: center;
	color: #ddd;
	background: #0008;
	font-family: monospace;
}

#hudDateOrbit {
	top: 1px;
	left: 1px;
	width: 155px;
	height: 36px;
	text-align: left;
}
#hudGpsInfo {
	top: 1px;
	left: 175px;
	width: 140px;
	height: 36px;
	text-align: left;
}

#hudThrottle {
	left: 3px;
}
#hudStep {
	left: 63px;
}
#hudView {
	left: 123px;
}

#hudYaw {
	right: 123px;
}
#hudPitch {
	right: 63px;
}
#hudRoll {
	right: 3px;
}



.onScreenButton {
	position: fixed;
	height: 50px;
	width: 50px;
	border-radius: 20%;
	color: #ddd;
	background: #4448;
	font-size: 10px;

	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#throttleOn {
	left: 1px;
	bottom: 121px;
}
#throttleAdjustButton {
	left: 1px;
	bottom: 61px;
}
#throttleOff {
	left: 1px;
	bottom: 1px;
}

#faster {
	left: 61px;
	bottom: 121px;
}
#slower {
	left: 61px;
	bottom: 61px;
}
#playPause {
	left: 61px;
	bottom: 1px;
}

#viewNext {
	left: 121px;
	bottom: 121px;
}
#viewPrevious {
	left: 121px;
	bottom: 61px;
}
#menuButton {
	left: 121px;
	bottom: 1px;
}


#throttleAdjustContainer {
	position: fixed;
	margin: 0;
	padding: 0;
	left: 200px;
	transform: translateX(-50%);

	bottom: 41px;
	height: 200px;
}
#throttleAdjustSlider {
	-webkit-appearance: slider-vertical;
	-ms-writing-mode: bt-lr;
	height: 100%;
	accent-color: #999;
}



#up {
	right: 61px;
	bottom: 121px;
}
#down {
	right: 61px;
	bottom: 1px;
}
#left {
	right: 121px;
	bottom: 61px;
}
#right {
	right: 1px;
	bottom: 61px;
}
#rollLeft {
	right: 121px;
	bottom: 121px;
}
#rollRight {
	right: 1px;
	bottom: 121px;
}
#stopSpin {
	right: 61px;
	bottom: 61px;
}



.popup { display: none; }
.popup.open { display: block; }
.blocker {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: ' ';
	background: #0000;
}
.popup .contents {
	position: fixed;
	overflow-y: scroll;
	margin: 2%;
	padding: 2%;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);

	width: 50%;
	min-width: 300px;
	height: 50%;
	border: 1px solid #ccc;
	border-radius: 5px;

	color: #ddd;
	background: #0008;

	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



.subtext {
	margin: 2%;
	background: #0000;
}

.inMenuButton {
	margin: 2%;
	padding: 2%;
	height: 50px;
	width: 50px;
	border-radius: 20%;

	color: #ddd;
	background: #4448;
	font-size: 10px;
}

select {
	margin: 2%;
	height: 30px;
	width: 275px;
	vertical-align: middle;

	color: #ddd;
	background: #0007;
	font-size: 12px;
}


input[type="number"] {
	margin: 2%;
	padding: 2%;
	height: 20px;
	width: 100px;
	vertical-align: middle;

	font-size: 12px;
	color: #ddd;
	background: #0007;
	accent-color: #777;
	font-family: monospace;
}

input[type="checkbox"], input[type="radio"] {
	margin: 2%;
	padding: 2%;
	height: 30px;
	width: 30px;
	vertical-align: middle;

	accent-color: #777;
}


.slideContainer {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 90%;
}

.slider {
	margin: 1%;
	padding: 1%;
	width: 100%;
	accent-color: #777;
}

label {
	margin: 2%;
	padding: 2%;
	vertical-align: middle;
}


#readme > * {
	text-align: left;
	margin: 2%;
	padding: 2%;
	background: #0000;
}

h3 {
	margin: 2%;
	padding: 2%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #0000;
}

a:link {
	color: skyblue;
}
a:visited {
	color: skyblue;
}
a:hover {
	color: skyblue;
}
a:active {
	color: skyblue;
}


ul, p {
	margin: 1%;
	padding: 1%;
}

#warn {
	font-weight: bold;
}
